fastapi==0.115.8
uvicorn==0.34.0
pymongo==4.11
python-dotenv==1.0.1
google-auth-oauthlib==1.2.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
email_validator==2.2.0
openai==0.28.1